body
{
background-color:yellow;
font-family: 'Signika', sans-serif;
margin-bottom:20px;

}

.navbar-light .navbar-nav .nav-link,.navbar-light .navbar-brand {

    color:white;
    font-size:25px;
    font-weight:bold;

}

.footer
{
height:45px;
width:100%;
background-color:gray;
position:fixed;
bottom:0;
left:0;
text-align:center;
color:black;
padding-top:10px;
}









