<!DOCTYPE html>
<!DOCTYPE html>
{% extends 'Base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-sm-5" style="margin-left:60px;">
           <img src="{{d.image.url }}" height="350px" width="370px">
        </div>
        <div class="col-sm-5">
            <h2 class="text-uppercase">{{d.pname}}</h2>
            <h5>Product Description</h5>
            <p style="text-align:justify;line-height:2">{{d.description}}</p>
            <h6>{{d.price}}</h6>
            {% user.is_superuser != True %}
            {% if d.stock <= 0 %}
            <h4 class="mt-5">OUT STOCK</h4>
            {% else %}

            <a href="{% url 'cart:add_to_cart' d.pname %}" class="btn btn-outline-danger">ADD TO CART</a>
            {% endif %}
        {% else %}

            {% if d.stock <=0 %}
            <a href="{% url 'admin:index' %}">ADD TO STOCK</a>
            {% endif %}

        </div>
    </div>

</div>

{% endblock %}